@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: 'cairo',sans-serif;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: #e20613;

}

button {
  color: white;
  border-radius: 10px;
  padding: 0.2em 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:e20613;
  cursor: pointer;
}

.ant-steps-item-title{
  font-size: 14px !important;
  font-weight: bold;
  text-wrap: nowrap;
}


